.bio
	font-size 17px
	color #8C989E
	font-weight normal

.bio__avatar
	float left
	margin-right 20px
	shape-outside: circle(250px at 50% 50%) padding-box
	width 100px
	border-radius 50px
	overflow hidden