.l_column_group {
	width: 100%;
	overflow: hidden;
	zoom: 1;
}
.l_column {
	float: left;
}



.l_w5 {width: 5%; }
.l_w10 {width: 10%; }
.l_w15 {width: 15%; }
.l_w20 {width: 20%; }
.l_w25 {width: 25%; }
.l_w30 {width: 30%; }
.l_w33 {width: 33%; }
.l_w34 {width: 34%; }
.l_w35 {width: 35%; }
.l_w40 {width: 40%; }
.l_w45 {width: 45%; }
.l_w50 {width: 50%; }
.l_w55 {width: 55%; }
.l_w60 {width: 60%; }
.l_w65 {width: 65%; }
.l_w70 {width: 70%; }
.l_w75 {width: 75%; }
.l_w80 {width: 80%; }
.l_w85 {width: 85%; }
.l_w90 {width: 90%; }
.l_w95 {width: 95%; }
.l_w100 {width: 100%; }

* html .l_w100 {    width: 100%; }
* html .l_w95 {    width: 94.95%; }
* html .l_w90 {    width: 89.95%; }
* html .l_w85 {    width: 84.95%; }
* html .l_w80 {    width: 79.95%; }
* html .l_w75 {    width: 74.95%; }
* html .l_w70 {    width: 69.95%; }
* html .l_w65 {    width: 64.95%; }
* html .l_w60 {    width: 59.95%; }
* html .l_w55 {    width: 54.95%; }
* html .l_w50 {    width: 49.95%; }
* html .l_w45 {    width: 44.95%; }
* html .l_w40 {    width: 39.95%; }
* html .l_w35 {    width: 34.95%; }
* html .l_w30 {    width: 29.95%; }
* html .l_w25 {    width: 24.95%; }
* html .l_w20 {    width: 19.95%; }
* html .l_w15 {    width: 14.95%; }
* html .l_w10 {    width: 9.95%; }
* html .l_w5 {    width: 4.95%; }

*:first-child+html .l_w100 {    width: 100%; }
*:first-child+html .l_w95 {    width: 94.95%; }
*:first-child+html .l_w90 {    width: 89.95%; }
*:first-child+html .l_w85 {    width: 84.95%; }
*:first-child+html .l_w80 {    width: 79.95%; }
*:first-child+html .l_w75 {    width: 74.95%; }
*:first-child+html .l_w70 {    width: 69.95%; }
*:first-child+html .l_w65 {    width: 64.95%; }
*:first-child+html .l_w60 {    width: 59.95%; }
*:first-child+html .l_w55 {    width: 54.95%; }
*:first-child+html .l_w50 {    width: 49.95%; }
*:first-child+html .l_w45 {    width: 44.95%; }
*:first-child+html .l_w40 {    width: 39.95%; }
*:first-child+html .l_w35 {    width: 34.95%; }
*:first-child+html .l_w30 {    width: 29.95%; }
*:first-child+html .l_w25 {    width: 24.95%; }
*:first-child+html .l_w20 {    width: 19.95%; }
*:first-child+html .l_w15 {    width: 14.95%; }
*:first-child+html .l_w10 {    width: 9.95%; }
*:first-child+html .l_w5 {    width: 4.95%; }
