.contacts
	background url('../img/bg.jpg')
	min-height 100%
	height 100%
	.hero-unit
		padding: 20px 30px 20px 270px
		overflow: hidden
		margin-top: 100px
		margin-bottom: 40px
		background: url('../img/hero_unit_bg.png');
		-webkit-border-radius 6px
		-moz-border-radius 6px
		border-radius 6px

	.location
		position: relative


.contacts__main
	h1
		margin-top 0
		font-size: 40px
		margin-bottom: 30px
		line-height 90%
		margin-left -2px

	img#me
		float: left;
		display: inline-block
		margin-left: -240px

.contacts__main__item
	color contacts = rgb(82, 82, 82)
	height 40px
	font-size 20px;

	.icon
		margin-right 14px
		display inline-block
		vertical-align middle
		font-size 24px
	a
		color contacts