html
	height 100%

/* HEADER */
.header
	position: absolute
	top: 0
	left: 0
	right: 0
	background-color: rgba(246, 246, 246, 0.3)
	z-index: 1

	a
		color: #292929

	.nav .active a
		background-color: rgba(249, 249, 249, 0.4)

	.nav a:hover
		background-color: rgba(238, 238, 238, 0.4)

	.navbar-brand
		padding-top 13px

	.icon-bar
		background-color rgb(94, 94, 94)

.content
	padding 51px 0 100px 0;

/* FOOTER */
.footer
	border-top: 1px solid #F7F7F7
	text-align center
	padding-top 50px
	padding-bottom 50px
	color #8C989E

	.container
		padding-top: 10px

.footer__logo
	margin-bottom 16px
	margin-right -5px
	width 65px
	height 29px