.login__container
	align-self: center
	max-width 500px

.login__container__abort
	float right
	padding-right 0

.login__help-block
	visibility hidden
	color COLOR_TEXT_IMPORTANT
	font-size 12px
	margin 0

.login--error
	.login__help-block
		visibility visible