.login
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: #FFF
	z-index: 10
	flexbox()
	justify-content: center

.login__container
	align-self: center
	max-width 500px

.login__container__abort
	float right
	padding-right 0

.login__close
	position absolute
	right 20px
	top 20px
