flexbox()
	display: -webkit-box      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox      /* TWEENER - IE 10 */
	display: -webkit-flex;    /* NEW - Chrome */
	display: flex             /* NEW, Spec - Opera 12.1, Firefox 20+ */

box-sizing(args)
	-webkit-box-sizing: args
	-moz-box-sizing: args
	box-sizing: args

box-shadow(args)
	-webkit-box-shadow args
	-moz-box-shadow args
	box-shadow args

transform(args)
	-webkit-transform: args
	transform: args

border-radius(val, position = false)
	topleft(a)
		-webkit-border-top-left-radius a
		-moz-border-radius-topleft: a
		border-top-left-radius: a
	topright(a)
		-webkit-border-top-right-radius: a
		-moz-border-radius-topright: a
		border-top-right-radius: a
	bottomleft(a)
		-webkit-border-bottom-left-radius a
		-moz-border-radius-bottomleft: a
		border-bottom-left-radius: a
	bottomright(a)
		-webkit-border-bottom-right-radius a
		-moz-border-radius-bottomright: a
		border-bottom-right-radius: a

	if position == false
		-webkit-border-radius val
		-moz-border-radius val
		border-radius val

	else if position == topleft
		topleft(val)

	else if position == topright
		topright(val)

	else if position == top
		topleft(val)
		topright(val)

	else if position == bottomleft
		bottomleft(val)

	else if position == bottomright
		bottomright(val)

	else
		bottomleft(val)
		bottomright(val)