.social-footer
	display table
	border-top none
	border-bottom none
	padding 0
	margin 20px auto 0 auto
	overflow hidden
	list-style none
	font-size 24px

.social__item
	float left
	margin-right 10px
	margin-bottom 5px

	a
		text-decoration none
		color #d3d9dd;

	.icon-vkontakte:before
		font-size: 22px;
		vertical-align: 1px;