.tarif
	display inline-block
	border-radius(15px)
	width 30px
	height 30px
	background-color #fcfcfc

.tarif--max
	background-color #B1EE98

.tarif--middle
	background-color #FFEE96

.tarif--min
	background-color #ACE1FC