.tarif {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #fcfcfc;
}
.tarif--max {
  background-color: #b1ee98;
}
.tarif--middle {
  background-color: #ffee96;
}
.tarif--min {
  background-color: #ace1fc;
}
