<div class="content bio">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<img class="bio__avatar" src="/img/me2.jpg" alt="Victor Fomenko"/>
				<p>Привет! Меня зовут Виктор. На данный момент я живу, фотографирую и работаю в Казани. Занимаюсь фото с 2009 года. За плечами большой опыт съемки свадеб, фотосессий, репортажей. Являюсь одним из создателей клубного казанского портала
					<a href="http://shurum-burum.ru/" target="_blank">Шурум-бурум</a> и его бывшим штатным фотографом.</p>

				<p>Фото всегда увлекало, манило, завораживало меня. Всегда хотелось сделать необычные, не страндартные, интересные кадры. И если вы хотите того же самого — просто
					<a href="http://vk.com/victorfomenko" target="_blank">напишите мне</a> и мы обсудим все подробности.</p>

				<p>Несмотря на то, что фотография всегда была и остаётся частью моей жизни моя основная специализация — web-программирование (создание сайтов). Кстати, этот сайт я тоже сделал своими руками :) Так что теперь вы ещё и знаете кто вам может помочь в создании красивого сайта-портфолио, сайта-визитки, сайта компании или чего-нибудь иного и специфичного.</p>
			</div>
		</div>
	</div>
</div>