<div class="login" ng-class="{'login--error': public.isFormError}">
	<div class="login__close"><i class="m-close" ng-click="hideLoginForm()"></i></div>
	<div class="login__container">
		<form ng-submit="auth()" ng-controller="authController">
			<div class="form-group">
				<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Логин" name="auth_name" ng-model="userName" required="required">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" id="password" placeholder="Пароль" name="auth_pass" ng-model="userPass" required="required">
				<p class="help-block login__help-block">Ошибка авторизации.</p>
			</div>
			<button class="btn btn-default" type="submit">Войти</button>
			<a class="login__container__abort btn" href="javascript:void(0)" ng-click="hideLoginForm()">Отмена</a>
		</form>
	</div>
</div>
