<div class="content">
	<div class="landing-img">
		<img src="/img/price-landing.jpg" alt="landing"/>
	</div>
	<div class="container m-text_center">
		<h1>Стоимость услуг</h1>
		<h4>Тарифы в зависимости от ваших желаний</h4>
		<div class="pricing clearfix">
			<div class="pricing__tarif pricing__tarif--min">
				<div class="pricing__tarif__price">
					12 000р
				</div>
				<ul class="pricing__tarif__list">
					<li><span>4 часа съёмки</span></li>
					<li><span>от 200 фото</span></li>
					<li><span>обработка всех фото</span></li>
					<li><span>ретушь 10 фото</span></li>
					<li><span>помощник-ассистент</span></li>
					<li><span>предварительная встреча</span></li>
					<li><span>фото на DVD</span></li>
				</ul>
				<a class="btn btn-default btn-lg pricing__btn" ng-click="openOrderModal('Start')" href="javascript:void(0)">Заказать</a>
			</div>
			<div class="pricing__tarif pricing__tarif--middle">
				<div class="pricing__tarif__price">
					20 000р
				</div>
				<ul class="pricing__tarif__list">
					<li><span>8 часов съёмки</span></li>
					<li><span>от 360 фото</span></li>
					<li><span>обработка всех фото</span></li>
					<li><span>ретушь 15 фото</span></li>
					<li><span>помощник-ассистент</span></li>
					<li><span>предварительная встреча</span></li>
					<li><span>фото на DVD</span></li>
					<li><span>скидка 500р на love-story</span></li>
				</ul>
				<a class="btn btn-default btn-lg pricing__btn" ng-click="openOrderModal('Middle')" href="javascript:void(0)">Заказать</a>
			</div>
			<div class="pricing__tarif pricing__tarif--max">
				<div class="pricing__tarif__price">
					24 000р
				</div>
				<ul class="pricing__tarif__list">
					<li><span>12 часов съёмки</span></li>
					<li><span>от 500 фото</span></li>
					<li><span>обработка всех фото</span></li>
					<li><span>ретушь 20 фото</span></li>
					<li><span>помощник-ассистент</span></li>
					<li><span>предварительная встреча</span></li>
					<li><span>фото на DVD</span></li>
					<li><span>скидка 1000р на love-story</span></li>
					<li><span>скидка 500р на фото-альбом</span></li>
					<li><span>картина на холсте в подарок</span></li>
				</ul>
				<a class="btn btn-default btn-lg pricing__btn" ng-click="openOrderModal('Pro')" href="javascript:void(0)">Заказать</a>
			</div>
		</div>
	</div>
</div>
<div class="modal" ng-show="orderModalIsShow" ng-controller="orderController">
	<div class="modal__close"><i class="m-close" ng-click="hideOrderModal()"></i></div>
	<div class="modal__container">
		<div class="modal__data" >
			<form ng-submit="order()" ng-show="orderFormIsShow">
				<div class="form-group">
					<input type="text" class="form-control" id="inputName" placeholder="Имя" name="order_name" ng-model="orderName" required="required">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="inputPhone" placeholder="Телефон" name="order_phone" ng-model="orderPhone" required="required">
				</div>
				<input type="text" class="form-control" style="display: none" id="inputSubject" name="order_tarif" ng-model="orderTarif">
				<button class="btn btn-success" type="submit">Заказать</button>
				<a class="login__container__abort btn" href="javascript:void(0)" ng-click="hideOrderModal()">Отмена</a>
			</form>
			<img ng-show="orderLoading" src="../img/loading.gif" alt="Loading"/>
			<h2 ng-show="orderSuccess">Спасибо! Я свяжусь с вами в ближайшее время.</h2>
		</div>
	</div>
</div>