<div class="content">
	<div class="landing-img" style="background-image: url('/img/price-landing.jpg'); height: 500px"></div>
	<div class="container m-text_center">
		<h1>Стоимость услуг</h1>
		<h4>Цены зависят от количества часов съёмки</h4>
		<div class="pricing clearfix">
			<div class="pricing__tarif pricing__tarif--min">
				<div class="pricing__tarif__price">
					12 000р
				</div>
				<ul class="pricing__tarif__list">
					<li><span>4 часа съёмки</span></li>
					<li><span>от 200 фото</span></li>
					<li><span>обработка всех фото</span></li>
					<li><span>ретушь 10 фото</span></li>
					<li><span>помощник-ассистент</span></li>
					<li><span>предварительная встреча</span></li>
					<li><span>фото на DVD</span></li>
				</ul>
				<a class="btn btn-default btn-lg pricing__btn " href="#">Заказать</a>
			</div>
			<div class="pricing__tarif pricing__tarif--middle">
				<div class="pricing__tarif__price">
					20 000р
				</div>
				<ul class="pricing__tarif__list">
					<li><span>8 часов съёмки</span></li>
					<li><span>от 350 фото</span></li>
					<li><span>обработка всех фото</span></li>
					<li><span>ретушь 15 фото</span></li>
					<li><span>помощник-ассистент</span></li>
					<li><span>предварительная встреча</span></li>
					<li><span>фото на DVD</span></li>
					<li><span>скидка 500р на love-story</span></li>
				</ul>
				<a class="btn btn-default btn-lg pricing__btn" href="#">Заказать</a>
			</div>
			<div class="pricing__tarif pricing__tarif--max">
				<div class="pricing__tarif__price">
					24 000р
				</div>
				<ul class="pricing__tarif__list">
					<li><span>12 часов съёмки</span></li>
					<li><span>от 500 фото</span></li>
					<li><span>обработка всех фото</span></li>
					<li><span>ретушь 20 фото</span></li>
					<li><span>помощник-ассистент</span></li>
					<li><span>предварительная встреча</span></li>
					<li><span>фото на DVD</span></li>
					<li><span>скидка 1000р на love-story</span></li>
					<li><span>скидка 500р на фото-альбом</span></li>
					<li><span>картина на холсте в подарок</span></li>
				</ul>
				<a class="btn btn-default btn-lg pricing__btn" href="#">Заказать</a>
			</div>
		</div>
	</div>
</div>